/* ==========================
   🎨 Color Variables
========================== */
:root {
  --color-primary: rgba(51, 102, 255, 1);
  --color-secondary: rgba(51, 187, 102, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-text-light: rgba(0, 0, 0, 0.8);
  --color-text-white: #fff;
  --bg-blue: #003366;

  /* Feedback Colors */
  --color-danger: rgba(220, 53, 69, 1);
  --color-danger-bg: rgba(220, 53, 69, 0.1);
}

/* ==========================
   🌐 Global Styles
========================== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif !important;
}

/* ==========================
   📦 Layout
========================== */
.section-container {
  background: var(--bg-blue);
}

/* ==========================
   📝 Typography
========================== */
.title-primary {
  color: var(--color-primary);
  font-weight: 800;
  font-size: 1.6rem;
}

.title-secondary {
  color: var(--color-black);
  font-weight: 500;
  font-size: 1.2rem;
}

.subtitle {
  color: var(--color-black);
  font-weight: 800;
  font-size: 1.3rem;
}

/* Paragraph */
p {
  color: var(--color-text-light);
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.55rem;
}

/* Span */
span {
  color: var(--color-text-light);
  font-weight: 300;
  font-size: 0.8rem;
}

/* Labels */
.input-label {
  color: var(--color-text-light);
  font-weight: 500;
  font-size: 0.9rem;
}

/* Error Messages */
.text-error {
  color: var(--color-danger);
  font-weight: 500 !important;
}

.icon-error {
  font-size: 18px;
}

/* ==========================
   📌 Elements
========================== */
/* Input Text */
.input-text {
  font-size: 0.9rem;
}

/* Placeholder */
::placeholder {
  font-weight: 400;
  color: gray !important;
}

/* Badge */
.badge-soft-danger {
  background-color: var(--color-danger-bg);
  color: var(--color-danger);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

/* ==========================
   🔘 Buttons
========================== */
.button-submit {
  color: var(--color-text-white) !important;
  font-size: 0.8rem;
  font-weight: 600 !important;
}
