/* ==========================
   🎨 Color Variables
========================== */
:root {
  /* Core Colors */
  --color-primary: #FFFFFF;
  --color-secondary: #17A2B8;
  --color-black: rgba(0, 0, 0, 1);
  --color-text-light: rgba(0, 0, 0, 0.8);
  --bg-blue: #003366;

  /* Feedback Colors */
  --color-danger: rgba(220, 53, 69, 1);
  --color-danger-bg: rgba(220, 53, 69, 0.1);
}

/* ==========================
   🌐 Global Styles
========================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif !important;
}

/* ==========================
   📦 Layout
========================== */
.section-container {
  background: var(--bg-blue);
}

/* ==========================
   📝 Typography
========================== */
h1 {
  font-weight: 700;
  font-size: 1.8rem;
  font-style: italic;
}

h3 {
  font-weight: 600;
  font-size: 0.9rem;
}

/* Titles */
.title-primary {
  color: var(--color-primary);
}

.title-secondary {
  color: var(--color-secondary);
}

/* Subtitles */
.subtitle {
  color: var(--color-black);
  font-weight: 400;
}

/* Paragraph */
p {
  color: var(--color-primary);
  font-weight: 400;
  font-size: 1rem;
}

/* Span */
span {
  color: var(--color-primary);
  font-weight: 200;
  font-size: 0.8rem;
}

/* Strong */
strong {
  font-weight: 700;
}

/* Small */
small {
  color: var(--color-black);
  font-weight: 500;
  font-size: 0.7rem;
}

/* Labels */
.input-label {
  color: var(--color-text-light);
  font-weight: 500;
  font-size: 0.9rem;
}

/* Error Messages */
.text-error {
  color: var(--color-danger);
  font-weight: 500 !important;
}

/* Value Display */
.value-sake {
  font-size: 2rem;
  font-weight: 500;
}

/* Icons */
.icon-error {
  font-size: 18px;
}

/* ==========================
   📌 Elements
========================== */
/* Input Text */
.input-text {
  font-size: 0.9rem;
}

/* Placeholder */
::placeholder {
  font-weight: 400;
  color: gray !important;
}

/* Badge */
.badge-soft-danger {
  background-color: var(--color-danger-bg);
  color: var(--color-danger);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

/* Text Logo */
.text-logo {
  color: var(--color-primary);
  font-size: 0.7rem;
  font-weight: 300;
}

button[data-nextjs-dev-tools-button="true"] {
  display: none !important;
}


/* ==========================
   🔘 Buttons
========================== */
.button-submit {
  color: var(--color-primary) !important;
  font-size: 0.8rem;
  font-weight: 600 !important;
}
